@using Energy.Core

@{
    ViewData["Title"] = "401";
    ApplicationOptions _options = ViewData["Options"] as ApplicationOptions;
}

<div class="container">
    <div class="row justify-content-center">
        <h1 class="forbidden-title">Oops...</h1>
    </div>
    <div class="row justify-content-center">
        <h4 class="forbidden-message">You do not have the proper permissions to view this page or perform this action.</h4>
    </div>
    <div class="row justify-content-center">
        <h4 class="text-center">You can, however, check out this Dilbert cartoon.</h4>
    </div>
    <div class="row justify-content-center">
        <div class="forbidden-button">
            <button class="btn btn-info">
                <a asp-controller="Home" asp-action="Index">Go Home</a>
            </button>
        </div>
    </div>
    <div class="forbidden-img">
        <img src="~/images/unauthorized.jpg" />
    </div>
    <h5 class="forbidden-contact text-center">Please <a href='@string.Format("mailto:{0}?subject={1}%20User%20Access%20Issue", _options.AdministratorEmail, _options.SiteName)'>contact</a> the site administrator if you feel you have reached this message in error.</h5>
</div>
