@model AdminViewModel

@{
    ViewData["Title"] = "Admin Setup";
    string _adminEmail = ViewData["AdminEmail"] as string;
}

<div id="adminPasswordWrapper" class="container">
    <div class="row justify-content-center">
        <h1 class="text-center login-title">It Doesn't Look Like an Administrator Account Has Been Set up Yet</h1>
        </div>
    <div class="row justify-content-center">
        <h2 class="text-center create-admin-title">Create One by Entering a Password Below</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="account-wall">
                <img class="login-img" src="~/images/empty_user.png" alt="">

                <form class="form-signin" method="post" asp-antiforgery="true">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div>
                        <input class="form-control admin-email-placeholder" placeholder="@_adminEmail" disabled />
                    </div>
                    <div>
                        <input class="form-control" asp-for="Password" placeholder="new password" required />
                    </div>
                    <div>
                        <input class="form-control" asp-for="ConfirmPassword" placeholder="confirm password" required />
                    </div>
                    <div>
                        <input type="submit" value="Create Administrator Account" class="btn btn-lg btn-primary btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
