/**************************************
 SITE-WIDE STYLES
**************************************/

/* General */
#bodyWrapper a:hover,
#bodyWrapper a:focus {
    color: #bababa;
}

/* Nav and Footer Specific Styles */
#navMain {
   padding: 8px 80px 6px 80px; 
}

#logoText {
    padding-left: 3px;
}

li.nav-item.dropdown:hover > .dropdown-menu {
   display: block; 
}

.dropdown-item {
    color: #2C3E50;
}

#navFooter {
    max-height: 30px;
}

#navFooter > p {
    margin: 6px auto 6px auto;
    font-size: 0.8rem;
}

